<div class="container" style="margin: 30px;">
  <div class="panel panel-primary">
    <div class="panel-heading"> <h4>User List</h4></div>
      <div class="panel-body">

        <p id="notice"><%= notice %></p>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> ID </th>
                <th> User Name </th>
                <th> Address </th>
                <th> Action </th>
              </tr>
            </thead>

            <tbody>
              <% @user_registrations.each do |user_registration| %>
                <tr>
                  <td><%= user_registration.id %></td>
                  <td><%= user_registration.user_name %></td>
                  <td><%= user_registration.address %></td>
                  <td><%= link_to 'Show', user_registration , class: "btn btn-info" %></td>
                  <td><%= link_to 'Edit', edit_user_registration_path(user_registration), class: "btn btn-primary" %></td>
                  <td><%= link_to 'Destroy', user_registration, method: :delete, data: { confirm: 'Are you sure?'} ,class: "btn btn-danger"%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <%= link_to 'New User Registration', new_user_registration_path ,class: "btn btn-success"%>
        <%= link_to 'Plot Registration', new_plot_path ,class: "btn btn-primary"%>
      </div>
    </div>
  </div>
  
